<template name="register">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrap">
                <p class="form-title">
                    Register</p>
                <form class="login" id="register-form">
                <input type="text" name="registerEmail" placeholder="Brandeis Email" />
                <input type="text" name="firstName" placeholder="First Name" />
                <input type="text" name="lastName" placeholder="Last Name" />
                <input type="text" name="phone" placeholder="Phone Number" />
                <input type="radio" name="gender" value="m" /> <label for="gender">Male</label> 
                <input type="radio" name="gender" value="f" /> <label for="gender">Female</label> 
                <input type="password" name="registerPassword" placeholder="Register Password" />
                <input type="password" name="confirmPassword" placeholder="Confirm Password" />
                <input type="submit" value="Register" class="btn btn-success btn-sm" />
                </form>
            </div>
        </div>
    </div>
</div>
</template>